body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  background-color: #fff8f0;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1,
h2,
h3 {
  color: #b35c4f;
}
article img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
section {
  background-color: #fff0e6;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li::before {
  content: "🍰 ";
}

#info {
  text-align: center;
}
