body {
  text-align: center;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}
.card {
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 500px;
  flex-direction: column;
}

.card-img {
  max-width: 300px;
  max-height: 300px;
}
.card h1 {
  min-height: 90px;
}
.card p {
  padding-top: 15px;
  text-align: justify;
  line-height: 1.5;
  padding: 10px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
h3 {
  min-height: 90px;
}
